* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    outline: none;
}

li {
    list-style: none;
}

html {
    color: #363636;
    font-family: 'Open Sans', sans-serif;
}

.app {
    max-width: 1170px;
    margin: 0 auto;
    background-color: #fff;
}

.header {
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
}

.logo-img {
    width: 500px;
}

.search {
    position: relative;
    width: 193px;
    transform: translateY(5px);
}

.txt-search {
    width: 100%;
    height: 26px;
    line-height: 26px;
    padding-left: 10px;
    border-radius: 15px;
    border: 1px solid #dfdfdf;
    font-size: 12px;
    outline: none;
}

.btn-search {
    position: absolute;
    right: 10px;
    top: 5px;
}

.btn-search:hover {
    cursor: pointer;
}

.btn-search:hover .search-icon {
    color: #1e73b5;
}

.search-icon {
    font-size: 15px;
    color: #cfcfcf;
}

.nav {
    padding: 10px 0;
}

.nav-list {
    display: flex;
    flex-direction: row;
}

.nav-item {
    padding: 9px 14px;
    border-bottom: 5px solid transparent;
    font-size: 15px;
    font-weight: 600;
}

.nav-item:hover {
    cursor: pointer;
    color: #075794;
    border-bottom: 5px solid #075794;
}

.title {
    margin-bottom: 20px;
    padding: 8px 15px;
    border-radius: 4px;
    background-color: #e8e8e8;
}

.title-link {
    font-size: 13px;
    color: #363636;
}

.title-link:hover {
    color: #0072bc;
}

.intro-img {
    width: 100%;
}

.main {
    height: 1000px;
}

.main-content {
    margin-top: 10px;
    display: flex;
}

.left-panel {
    width: 300px;
    margin-right: 40px;
}

.left-panel__title {
    color: #106cb2;
    font-size: 15px;
    font-weight: 600;
    padding: 0 15px;
    line-height: 43px;
    border: 1px solid #f2f2f2;
}

.left-panel__list {
    border: 1px solid #f2f2f2;
    position: relative;
}

.left-panel__item:not(:last-child)::after {
    content: "";
    position: absolute;
    border-bottom: 1px dashed #c9c9c9;
    width: 90%;
    right: 15px;
}

.left-panel__link {
    display: block;
    color: #222;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 15px;
}

.left-panel__link:hover {
    color: #fff;
    background-color: #106cb2;
    cursor: pointer;
}

.right-panel {
    flex: 1;
}

.notification {
    display: none;
}

.notification:target {
    display: block;
}

.news {
    display: none;
}

.news:target {
    display: block;
}

.right-panel__title {
    color: #222;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 0;
}

.right-panel__item {
    display: flex;
}

.right-panel__item:not(:last-child) {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
}

.right-panel__img {
    width: 130px;
    margin-right: 10px;
}

.right-panel__link {
    display: block;
    color: #222;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}

.right-panel__time {
    color: #a9a9a9;
    display: flex;
    align-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.right-panel__icon {
    margin-right: 5px;
}

.right-panel__date {
    font-size: 12px;
}

.right-panel__desc {
    color: #4e4e4e;
    font-size: 13px;
}
